  body {
    background-color: #495464;

  }

  h1{
    color: #e8e8e8
  }

  h3{
    color: #bbbfca
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    width: 5%;
  }
